/.settings
/mydir
/target
/.classpath
/.project
/mymetadata/
/.clover/
/dependency-reduced-pom.xml
/cormorant-core/target
/cormorant-core/.classpath
/cormorant-core/.gitignore
/cormorant-core/.project
/cormorant-core/.settings
/cormorant-core/mydir
/cormorant-core/mymetadata
/cormorant-core/metadata
/cormorant-core/bin
/cormorant-core/swift
/cormorant-core/test
/cormorant-core/cormorant.db
/cormorant-core/TODO.md
/cormorant-server/.settings
/cormorant-server/.project
/cormorant-server/.classpath
/cormorant-server/cormorant.db
/cormorant-core/dependency-reduced-pom.xml
/cormorant-server/dependency-reduced-pom.xml
/cormorant-server/metadata/cormorant.db
